<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion</title>
    <link rel="stylesheet" href="../../Styles/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../Styles/CSS/Styles.css">
</head>
<body>
    <div class="header">
        <h1 class="title">Asistencia QR UDEM</h1>
    </div>
    <div class="info-container">
        <h3>Instrucciones de recuperacion de cuenta</h3>
        <p class="centered">Pongase en contacto con su administrador para recuperar su cuenta</p>
        <div class="btn-centered">
            <button type="submit" class="btn btn-primary btn-lg btn-dark" onclick="location.href='./Login.php'">Regresar</button>
        </div>
    </div>
</body>